:root {
    --logo-weight: 900;
    --logo-size: 30px;
    --main-color: color: #021112;
    --main-font-size: 18px;
    --h-size: 58px;
    --main-background-color: background-color: #FAFAFA;
}

*,
body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #FBEDDA;
    position: relative;
}

.container {
    border: 1px solid red;
    margin: 0 auto;
    height: 1400px;
    width: 2000px;
    font-family: "Noto Serif", serif;
    color: var(--main-color);
}

.header-top {
    border: 1px solid green;
    margin: 45px auto 0 auto;
    width: 1700px;
}

.logo {
    font-weight: var(--logo-weight);
    font-size: var(--logo-size);
    display: inline-block;
    margin-right: 900px;
}

.header-top .menu {
    display: inline-block;
    list-style: none;
}

.header-top .menu li {
    display: inline-block;
    margin-right: 50px;
}

.header-top .menu li:last-child {
    margin-right: 0;
    color: #FFFFFF;
}

.header-top .menu li a {
    text-decoration: none;
    color: var(--main-color);
    font-size: var(--main-font-size);
}

.header-btn {
    padding: 11px 25px;
    background-color: #13A6BA;
    border-radius: 5px;
}

.btn {
    color: #FFFFFF;
    border-radius: 10px;
    background-color: #13A6BA;
    font-family: "Noto Serif", serif;
    cursor: pointer;
    font-size: 20px;
    border: none;
    transform: translate(-20px, -8px);
}

.header-top .btn {
    display: block;
}

.header-center {
    border: 1px solid red;
    width: 800px;
    margin: 100px auto 0 auto;
}

.header-center h1 {
    font-size: var(--h-size);
    text-align: center;
}

.text {
    font-size: 18px;
    opacity: 60%;
}

.header-center .text {
    border: 1px solid red;
    font-size: 18px;
    margin-top: 25px;
    margin-left: 50px;
    opacity: 60%;
    width: 720px;
}

.filter-info {
    background-color: #FFFFFF;
    width: 1200px;
    height: 180px;
    margin: 50px auto;
    padding-top: 18px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 20px;
}

.filter-info .btn {
    padding: 27px 57px;
    border-radius: 15px;
    font-size: 28px;
    /* margin-bottom: 51px;
    margin-right: 40px; */
}

.info {
    margin-top: 20px;
}

.tab-panel {
    display: none;
}

.filter-info input[type="radio"] {
    display: none;
}

.tabs+label {
    font-size: 20px;
    margin-right: 80px;
    color: rgba(34, 60, 80, 0.2);
    padding: 10px 50px;
    cursor: pointer;
}

.tabs+label:last-child {
    margin-right: none;
}

#rent:checked~.info .panel-rent {
    display: inline-block;
}

#buy:checked~.info .panel-buy {
    display: inline-block;
}

#sell:checked~.info .panel-sell {
    display: inline-block;
}

#rent:checked+.rent {
    color: black;
    font-weight: bold;
}

#buy:checked+.buy {
    color: black;
    font-weight: bold;
}

#sell:checked+.sell {
    color: black;
    font-weight: bold;
}

.tab-panel .symbol,
.tab-panel .text {
    display: inline-block;
}

.tab-panel .location,
.tab-panel .property,
.tab-panel .price {
    display: inline-block;
    width: 320px;
    height: 100px;
    text-align: center;
}

.value {
    font-size: 36px;
    font-weight: bold;
}

.header-bottom img {
    width: 1800px;
    /* height: 700px; */
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.see-properties {
    background-color: #FAFAFA;
}

.see-properties .container {
    position: relative;
}

h2 {
    border: 1px solid red;
    font-size: var(--h-size);
    margin-left: 125px;
    margin-top: 150px;
}

.see-properties .properties-top h2 {
    width: 600px;
    height: 91px;
}

.see-properties .text {
    border: 1px solid red;
    margin-top: 20px;
    margin-left: 125px;
    display: inline-block;
}

.properties-slide1,
.properties-slide2,
.properties-slide3 {
    display: inline-block;
    margin-top: 8%;
    margin-left: 8%;
    box-sizing: border-box;
}

.properties-slide1,
.properties-slide2,
.properties-slide3 {
    display: none;
}

.cards1,
.cards2,
.cards3 {
    background-color: #FFFFFF;
    border-radius: 30px;
    display: inline-block;
    margin-left: 60px;
    width: 520px;
    height: 790px;
}

.cards1:hover,
.cards2:hover,
.cards3:hover {
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 6px 5px #0000001C;
    transition: 0.1s;
}

.cards1:hover .btn,
.cards2:hover .btn,
.cards3:hover .btn {
    background-color: #13A6BA;
    color: #FFFFFF;
    transition: 0.2s;
}

.cards1:first-child {
    margin-left: 0;
}

.slides {
    margin: 29px 29px 0 29px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}


.properties-content .value {
    margin: 29px 29px 0 29px;
    border: 1ps solid red;
    font-size: 30px;
}

.properties-content .text {
    margin: 9px 0 0 29px;
    border: 1ps solid red;
}

.properties-content .text+.value {
    margin: 22px 0 0 29px;
    font-size: 50px;
}

.properties-content .btn {
    margin: 55px 29px 0 53px;
    display: block;
    width: 453px;
    height: 82px;
    font-size: 28px;
    border-radius: 20px;
    color: #13A6BA;
    background-color: #FFFFFF;
    border: 1px solid #13A6BA;
}

.see-properties .radio-btn {
    display: inline;
    width: 393px;
    position: absolute;
    top: 9px;
    right: 5%;
}

.see-properties .container:has(.radio-btn #rent1:checked) .properties-slide1,
.see-properties .container:has(.radio-btn #buy1:checked) .properties-slide2,
.see-properties .container:has(.radio-btn #sell1:checked) .properties-slide3 {
    display: block;
}

.see-properties .circle-btn:checked+.custom-radio {
    color: #772D8B;
    transition: 0.5s;
}

.custom-radio {
    font-size: 30px;
    margin-right: 50px;
    cursor: pointer;
    color: rgba(34, 60, 80, 0.2);
    transition: 0.1s;
}

.radio-btn {
    cursor: pointer;
}

.line {
    position: relative;
}

.line .text {
    display: inline-block;
}

.line .radio-btn {
    display: inline-block;
}

.imgs {
    position: relative;
}

.benefits {
    background-color: #FAFAFA;
}

.layer1 {
    position: absolute;
    top: 90px;
    left: 0;
}

.layer2 {
    position: absolute;
    top: 370px;
    left: 125px;
    width: 795px;
    height: 883px;
}

.layer3 {
    position: absolute;
    top: 1000px;
    left: 40px;
    border-radius: 6%;
    background-color: #FFFFFF;
    width: 391px;
    height: 191px;
    box-shadow: 0 0 6px 5px #0000001C;
}

.layer3 .value {
    margin-top: 34px;
    margin-left: 39px;
    font-size: 20px;
}

.layer3 .text {
    margin-top: 4px;
    margin-left: 39px;
    font-size: 14px;
}

.first-imgs,
.second-imgs {
    transform: translateX(-25%);
}

.benefits {
    background-color: #FAFAFA;
}

.benefits .imgs .imgs-slider {
    width: 58px;
    height: 54px;
    border-radius: 10%;
    margin-top: 18px;
    margin-right: 14px;
}

.first-imgs .imgs-slider:last-child,
.second-imgs .imgs-slider:last-child {
    margin-right: 0px;
}

.first-imgs .imgs-slider:first-child,
.second-imgs .imgs-slider:first-child {
    margin-left: 34px;
}

.benefits .imgs .second-imgs {
    display: none;
}

.mini-slider {
    display: inline-block;
    box-sizing: border-box;
}

.mini-slider .first-imgs,
.mini-slider .second-imgs {
    display: inline-block;
}

#arrow {
    width: 58px;
    height: 54px;
    appearance: none;
    background-color: #F93633;
    border-radius: 10%;
    cursor: pointer;
    transform: translateX(450%);
}

#arrow::before {
    position: absolute;
    content: url(img/arrow.png);
    color: #FFFFFF;
    margin: 14px 21px;
}

#arrow:checked~.first-imgs {
    display: none;
}

#arrow:checked~.second-imgs {
    display: inline-block;
}


.benefits-info {
    position: relative;
}

.benefits-info h2 {
    position: absolute;
    width: 750px;
    right: 125px;
    top: 250px;
}

.benefits-list .block {
    border: 1px solid red;
    display: inline-block;
    transform: translateY(-22%);
    margin-left: 32px;
}

.benefits-list .value {
    margin-bottom: 15px;
}

.benefits-list .benefits-symbol,
.benefits-list .value {
    display: inline-block;
}

.benefits-info .benefits-list {
    border: 1px solid red;
    position: absolute;
    top: 650px;
    right: 358px;
    list-style: none;
}

.benefits-info .benefits-list li {
    margin-bottom: 90px;
}

.benefits-info .benefits-list li:last-child {
    margin-bottom: 0;
}

.benefits-list .benefits-symbol {
    padding: 25px;
    background-color: #FBFCED;
    border-radius: 15%;
    box-sizing: border-box;
}

.case-san-diego {
    background-color: #FAFAFA;
}

.case-san-diego .container {
    position: relative;
}

.case-san-diego .case-description {
    border: 1px solid red;
    margin-left: 150px;
    margin-top: 400px;
    width: 800px;
    height: 600px;
}

.case-san-diego .case-description h2 {
    width: 694px;
    height: 180px;
    margin: 0;
}

.case-san-diego .case-description .text {
    margin-top: 41px;
    line-height: 40px;
    font-size: 20px;
    width: 567px;
    margin-left: 0;
}

.case-san-diego .case-description .case-numbers {
    border: 1px solid black;
    margin-top: 47px;
}

.case-san-diego .case-description .case-numbers .value {
    display: inline-block;
    font-size: 42px;
    margin-right: 140px;
}

.case-san-diego .case-description .case-numbers .value:last-child {
    margin-right: 0;
}

.case-san-diego .case-description .caps-text {
    border: 1px solid red;
}

.case-san-diego .case-description .caps-text .text {
    margin-top: 0;
    width: 200px;
    display: inline-block;
    font-size: 18px;
    margin-right: 50px;
}

.case-san-diego .case-description .caps-text .text:last-child {
    margin-right: 0;
}

/* .case-numbers .value:nth-child(2)::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 47px;
    background-color: #ccc;
    margin-left: 92px;
    margin-right: 45px;
    vertical-align: text-bottom;
} */

.case-san-diego .case-imgs .imgs-line {
    position: absolute;
    right: 0;
    top: 50px;
}

.case-san-diego .case-imgs .lightblue-circle {
    position: absolute;
    right: 0;
    top: 160px;
}

.case-san-diego .case-imgs .case-post {
    position: absolute;
    width: 584px;
    height: 721px;
    right: 250px;
    top: 300px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 3px #E0E2E3;
    border-radius: 5%;
}

.case-san-diego .case-imgs .holly-post {
    margin-top: 103px;
    margin-left: 41px;
    margin-right: 41px;
}

.case-san-diego .case-imgs .holly-post .holly {
    width: 501px;
    height: 319px;
}

.case-san-diego .case-imgs .case-post .bookmark {
    position: absolute;
    top: 397px;
    right: 67px;
    padding: 14px 17px;
    background-color: #FFFFFF;
    border-radius: 8%;
    box-shadow: 0 0 6px 5px #0000001C;
}

.case-san-diego .case-imgs .case-post .settings {
    position: absolute;
    top: 41px;
    right: 42px;
}

.case-san-diego .case-imgs .case-post .talent-people img {
    width: 52px;
    height: 52px;
    padding: 1px;
    border-radius: 100%;
    position: absolute;
}

.case-san-diego .case-imgs .case-post .talent-people .avatar1 {
    left: 41px;
    top: 461px;
}

.case-san-diego .case-imgs .case-post .talent-people .avatar2 {
    left: 67px;
    top: 461px;
}

.case-san-diego .case-imgs .case-post .talent-people .avatar3 {
    left: 97px;
    top: 461px;
}

.case-san-diego .case-imgs .case-post .talent-people .avatar4 {
    left: 123px;
    top: 461px;
}

.case-san-diego .case-imgs .case-post .talent-people .value {
    font-size: 14px;
    display: inline-block;
    border: 1px solid red;
    margin: 55px 224px 0 205px;
}

.case-san-diego .case-imgs .case-post .text {
    font-size: 12px;
    border: 1px solid red;
    margin-top: 50px;
    width: 501px;
    line-height: 182%;
}

.case-san-diego .case-imgs .case-post .post-symbol {
    display: inline-block;
    border: 1px solid red;
    margin-left: 261px;
    margin-top: 20px;
}

.case-san-diego .case-imgs .case-post .post-symbol .value {
    display: inline-block;
    font-size: 14px;
    opacity: 60%;
    font-weight: normal;
    transform: translateY(-65%);
}

.case-san-diego .case-imgs .case-post .post-symbol .post-symbol1,
.case-san-diego .case-imgs .case-post .post-symbol .post-symbol2 {
    display: inline-block;
    border: 1px solid red;
}

.case-san-diego .case-imgs .case-post .post-symbol .post-symbol1 img {
    width: 39px;
    height: 41px;
}

.case-san-diego .case-imgs .case-post .post-symbol .post-symbol1 {
    margin-right: 150px;
}

.case-san-diego .case-imgs .google {
    padding: 36px;
    background-color: #FFFFFF;
    border-radius: 10%;
    position: absolute;
    top: 380px;
    right: 145px;
}


.case-san-diego .case-imgs .top-post {
    background-color: #FFFFFF;
    border-radius: 7%;
    position: absolute;
    width: 308px;
    height: 308px;
    top: 880px;
    right: 690px;
    box-shadow: 0 0 10px 3px #E0E2E3;
}

.case-san-diego .case-imgs .top-post .home-without-phone {
    width: 68px;
    height: 68px;
    padding: 3px;
    border-radius: 100%;
    background-color: #FBEDDA;
    margin-top: 33px;
    margin-left: 120px;
}

.case-san-diego .case-imgs .top-post .value {
    font-size: 20px;
    margin-top: 14px;
    margin-left: 85px;
    border: 1px solid red;
    width: 150px;
}

.case-san-diego .case-imgs .top-post .text {
    font-size: 10px;
    margin-top: 6px;
    border: 1px solid red;
    width: 60px;
}

.case-san-diego .case-imgs .top-post .real {
    border: 1px solid red;
    margin-right: 113px;
}

.case-san-diego .case-imgs .top-post .posts {
    margin: 26px 113px 0 27px;
    display: inline-block;
}

.case-san-diego .case-imgs .top-post .follow {
    margin: 0;
    display: inline-block;
    width: 90px;
}

.case-san-diego .case-imgs .top-post .btn {
    width: 115px;
    height: 42px;
    font-size: 10px;
    padding: 0;
    display: inline-block;
    background-color: #FFFFFF;
    border: 1px solid #E0E2E3;
    color: #677071;
}

.case-san-diego .case-imgs .top-post .btn:hover {
    background-color: #772D8B;
    color: #FFFFFF;
    border: none;
}

.case-san-diego .case-imgs .top-post .following {
    margin: 26px 22px 33px 40px;
}

.case-san-diego .case-imgs .top-post .messages {
    margin: 0;
}

/* .case-san-diego .case-imgs .top-post .sms {
    position: absolute;
    bottom: 45px;
    right: 110px;
} */

.customer {
    background-color: #FDF6ED;
}

.customer .container {
    position: relative;
    height: 992px;
}

.customer .sphere {
    position: absolute;
    top: 218px;
    left: 710px;
}

.customer .glare-1 {
    width: 80px;
    height: 87px;
    background-color: #FFFFFF;
    border-radius: 100%;
    filter: blur(20px);
    position: absolute;
    top: 240px;
    left: 743px;
}

.customer .marks {
    position: absolute;
    top: 89px;
    right: 59px;
}

.customer .customer-info {
    /* border: 1px solid red; */
    width: 695px;
    margin-right: 300px;
    margin-top: 189px;
}

.customer .customer-info .phrase {
    font-size: 18px;
    color: #13A6BA;
    letter-spacing: 10px;
}

.customer .customer-info h2 {
    margin: 0;
    margin-top: 42px;
}

.customer .customer-info .customer-text {
    font-size: 24px;
    color: #021112;
    line-height: 42px;
    margin-top: 50px;
}

.customer .customer-info .value {
    font-size: 24px;
    margin-top: 59px;
}

.customer .customer-info .text {
    margin-top: 2px;
}

.customer .customer-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 811px;
    height: 1235px;
}

.next-home .container {
    position: relative;
    height: 910px;
}

.next-home .bookmarks {
    position: absolute;
    top: 280px;
    left: 0;
}

.next-home .next-home-info {
    border: 1px solid red;
    width: 710px;
    height: 350px;
    margin-left: 150px;
    margin-top: 350px;
}

.next-home .next-home-info h2 {
    margin: 0;
}

.next-home .next-home-info .text {
    font-size: 20px;
    margin-top: 41px;
    margin-left: 0;
    line-height: 38px;
    width: 567px;
    border: 1px solid red;
}

.next-home #email {
    width: 716px;
    padding: 38px 45px;
    border: 1px solid #C8F3F9;
    border-radius: 20px;
    font-size: 18px;
    font-family: "Noto Serif", serif;
    color: #677071;
    background-color: #FFFFFF;
    transform: translate(150%, -220%);
    position: relative;
    z-index: 1;
}

.next-home .btn {
    width: 190px;
    height: 72px;
    border-radius: 15px;
    position: absolute;
    top: 500px;
    right: 200px;
    z-index: 1;
}

.next-home .points {
    position: absolute;
    top: 560px;
    right: 90px;
}

.next-home .polcircle {
    position: absolute;
    top: 700px;
    right: 0;
}

footer .container {
    height: 420px;
}

footer .logo-block {
    border: 1px solid red;
    display: inline-block;
    margin-left: 150px;
    margin-top: 111px;
    width: 338px;
}

footer .logo-block .logo {
    font-size: 50px;
}

footer .logo-block .text {
    font-size: 20px;
    margin-top: 38px;
    line-height: 29px;
}

footer nav {
    display: inline-block;
    margin-left: 154px;
    vertical-align: top;
    margin-top: 130px;
}

footer nav ul {
    border: 1px solid green;
    display: inline-block;
    list-style: none;
    margin-left: 155px;
}

footer nav ul:first-child {
    margin-left: 0;
}

footer nav ul li a {
    text-decoration: none;
    color: #021112;
}

footer nav ul li:first-child {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 0;
}

footer nav ul li {
    margin-top: 24px;
    font-size: 20px;
}

footer nav ul li:nth-child(2) {
    margin-top: 0;
}

.right-column {
    display: inline-block;
    vertical-align: top;
    margin-top: 130px;
    margin-left: 150px;
    width: 350px;
}

footer .piar {
    border: 1px solid pink;
    width: 100%;
}

footer .footer-icons {
    border: 1px solid orange;
    width: 100%;
    margin-top: 41px;
    display: block;
}

footer .piar .piar-h {
    font-size: 24px;
    font-weight: bold;
}

footer .piar .text {
    font-size: 20px;
    opacity: 100%;
    margin-top: 50px;
    line-height: 29px;
}

footer .footer-icons img {
    padding: 10px 12px;
    border: 1px solid #C8F3F9;
    margin-right: 39px;
    filter:
        brightness(0) saturate(100%) invert(81%) sepia(10%) saturate(1000%) hue-rotate(160deg) brightness(105%) contrast(95%);
    transition: 0.3s;

}

footer .footer-icons img:hover {
    border: 1px solid #13A6BA;
    filter:
        brightness(0) saturate(100%) invert(45%) sepia(50%) saturate(1000%) hue-rotate(150deg) brightness(90%) contrast(95%);
}

footer .footer-icons img:nth-child(3) {
    padding: 15px 15px;
}

footer .footer-icons img:nth-child(4) {
    padding: 15px 15px;
    margin-right: 0;
}