:root {
    --logo-weight: 900;
    --logo-size: 30px;
    --main-color: color: #021112;
    --main-font-size: 18px;
    --h-size: 60px;
    --main-background-color: background-color: #FAFAFA;
}

*,
body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #FBEDDA;
    position: relative;
}

.container {
    border: 1px solid red;
    margin: 0 auto;
    height: 1400px;
    width: 2000px;
    font-family: "Noto Serif", serif;
    color: var(--main-color);
}

.header-top {
    border: 1px solid green;
    margin: 45px auto 0 auto;
    width: 1700px;
}

.header-top .logo {
    font-weight: var(--logo-weight);
    font-size: var(--logo-size);
    display: inline-block;
    margin-right: 900px;
}

.header-top .menu {
    display: inline-block;
    list-style: none;
}

.header-top .menu li {
    display: inline-block;
    margin-right: 50px;
}

.header-top .menu li:last-child {
    margin-right: 0;
    color: #FFFFFF;
}

.header-top .menu li a {
    text-decoration: none;
    color: var(--main-color);
    font-size: var(--main-font-size);
}

.btn {
    color: #FFFFFF;
    border-radius: 10px;
    background-color: #13A6BA;
    padding: 10px 30px;
    font-family: "Noto Serif", serif;
}

.header-top .btn {
    display: block;
}

.header-center {
    border: 1px solid red;
    width: 800px;
    margin: 100px auto 0 auto;
}

.header-center h1 {
    font-size: var(--h-size);
    text-align: center;
}

.text {
    font-size: 18px;
    opacity: 60%;
}

.header-center .text {
    font-size: 18px;
    /* text-align: center; */
    margin-top: 25px;
    opacity: 60%;
}

.filter-info {
    background-color: #FFFFFF;
    width: 1100px;
    height: 180px;
    margin: 50px auto;
    padding-top: 18px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 20px;
}

.info {
    margin-top: 20px;
}

.tab-panel {
    display: none;
}

.filter-info input[type="radio"] {
    display: none;
}

.tabs+label {
    font-size: 20px;
    margin-right: 80px;
    color: rgba(34, 60, 80, 0.2);
    padding: 10px 50px;
    cursor: pointer;
}

.tabs+label:last-child {
    margin-right: none;
}

#rent:checked~.info .panel-rent {
    display: inline-block;
}

#buy:checked~.info .panel-buy {
    display: inline-block;
}

#sell:checked~.info .panel-sell {
    display: inline-block;
}

#rent:checked+.rent {
    color: black;
    font-weight: bold;
}

#buy:checked+.buy {
    color: black;
    font-weight: bold;
}

#sell:checked+.sell {
    color: black;
    font-weight: bold;
}

.tab-panel .symbol,
.tab-panel .text {
    display: inline-block;
}

.tab-panel .location,
.tab-panel .property,
.tab-panel .price {
    display: inline-block;
    width: 320px;
    height: 100px;
    text-align: center;
}

.value {
    font-size: 36px;
    font-weight: bold;
}

input[type=button] {
    padding: 20px 31px;
    cursor: pointer;
    border: none;
    transform: translate(-20px, -8px);
    font-size: 20px;
}

.header-bottom img {
    width: 1800px;
    /* height: 700px; */
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.see-properties {
    background-color: #FAFAFA;
}

.see-properties .container {
    position: relative;
}


h2 {
    border: 1px solid red;
    font-size: var(--h-size);
    margin-left: 125px;
    margin-top: 150px;
}

.see-properties .text {
    border: 1px solid red;
    margin-top: 20px;
    margin-left: 125px;
    display: inline-block;
}

.properties-slide1,
.properties-slide2,
.properties-slide3 {
    display: inline-block;
    margin-top: 8%;
    margin-left: 8%;
    box-sizing: border-box;
}

.properties-slide1,
.properties-slide2,
.properties-slide3 {
    display: none;
}

.cards1,
.cards2,
.cards3 {
    background-color: #FFFFFF;
    border-radius: 30px;
    display: inline-block;
    margin-left: 60px;
    width: 520px;
    height: 790px;
}

.cards1:hover,
.cards2:hover,
.cards3:hover {
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 6px 5px #0000001C;
    transition: 0.1s;
}

.cards1:first-child {
    margin-left: 0;
}

.slides {
    margin: 29px 29px 0 29px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}


.properties-content .value {
    margin: 29px 29px 0 29px;
    border: 1ps solid red;
    font-size: 30px;
}

.properties-content .text {
    margin: 9px 0 0 29px;
    border: 1ps solid red;
}

.properties-content .text+.value {
    margin: 22px 0 0 29px;
    font-size: 50px;
}

.properties-content .btn {
    margin: 55px 29px 0 53px;
    display: block;
    width: 453px;
    height: 82px;
    font-size: 28px;
    border-radius: 10px;
}

.see-properties .radio-btn {
    display: inline;
    width: 393px;
    position: absolute;
    top: 9px;
    right: 5%;
}

.see-properties .container:has(.radio-btn #rent1:checked) .properties-slide1,
.see-properties .container:has(.radio-btn #buy1:checked) .properties-slide2,
.see-properties .container:has(.radio-btn #sell1:checked) .properties-slide3 {
    display: block;
}

.see-properties .circle-btn:checked+.custom-radio {
    color: #772D8B;
    transition: 0.5s;
}

.custom-radio {
    font-size: 30px;
    margin-right: 50px;
    cursor: pointer;
    color: rgba(34, 60, 80, 0.2);
    transition: 0.1s;
}

.radio-btn {
    cursor: pointer;
}

.line {
    position: relative;
}

.line .text {
    display: inline-block;
}

.line .radio-btn {
    display: inline-block;
}

.imgs {
    position: relative;
}

.benefits {
    background-color: var(--main-background-color);
}

.layer1 {
    position: absolute;
    top: 90px;
    left: 0;
}

.layer2 {
    position: absolute;
    top: 370px;
    left: 125px;
    width: 795px;
    height: 883px;
}

.layer3 {
    position: absolute;
    top: 1100px;
    left: 40px;
    border: 1px solid red;
    background-color: #FFFFFF;
}

.benefits-info {
    position: relative;
}

.benefits-info h2 {
    position: absolute;
    width: 750px;
    right: 125px;
    top: 250px;
}

.benefits-list .block {
    border: 1px solid red;
    display: inline-block;
    transform: translateY(-22%);
    margin-left: 32px;
}

.benefits-list .value {
    margin-bottom: 15px;
}

.benefits-list .benefits-symbol,
.benefits-list .value {
    display: inline-block;
}

.benefits-info .benefits-list {
    border: 1px solid red;
    position: absolute;
    top: 650px;
    right: 358px;
    list-style: none;
}

.benefits-info .benefits-list li {
    margin-bottom: 90px;
}

.benefits-info .benefits-list li:last-child {
    margin-bottom: 0;
}

.benefits-list .benefits-symbol {
    padding: 25px;
    background-color: #FBFCED;
    border-radius: 15%;
    box-sizing: border-box;
}